body{
    font-family:  'Lato', sans-serif;
    background-color: gray;
    margin: 0;

}

.tittle {
    background-color: #fff;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.content-holder{
    max-width: 80%;
    margin: 0 auto;
    position: relative;
}

.content-holder{
    color: rgb(49, 49, 49);
}
.content-holder .small-txt {
    text-transform: uppercase;
    font-size: 16px;
}

.content-holder .big-txt {
    text-transform: uppercase;
    font-size: 20px;
}

.content-holder .big-txt #bold {
    font-size: 30px;
    color: black;
}

.bg-img{
    height: 400px;
    max-width: 100%;
}
img{
    width: 100%;
    height: 100%;
}

.side-text{
    background-color: #fff;
    padding: 20px;
}

.side-text .scroll{
    height: 150px;
    width: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.side-text p {
    font-size: 14px;
}

.scroll::-webkit-scrollbar{
    width: 15px;
    border-radius: 10px;
    background: rgb(240, 236, 236);
}

.scroll::-webkit-scrollbar-track{
    border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb{
    border-radius: 10px;
    box-shadow: inset 0 0 15px rgb(0, 0, 0.3);
}

/* formularz */


#form {
    width: 40vw;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 15px 2px;
    padding: 20px;
    top: 160px;
    left: 450px;
    position: absolute;
}

#button-holder{
    display: flex;
    justify-content: flex-end;
}

#form button{
    padding: 10px;
    margin-top: 10px;
    width: 30%;
    border-radius: 20px;
    border: 1px solid #fff;
    transition: all .5s;
    cursor: pointer;
}

#form button:hover {
    background-color:  #7f962f;
    cursor: pointer;
    border-color: #7f962f;
}


.input-control {
    display: flex;
    flex-direction: column;
} 

.input-control input, select {
    border: 1px solid #fff;
    border-radius: 20px;
    display: block;
    padding: 10px;
    padding-left: 20px;
    margin-bottom: 10px;
}

.input-control input:focus, select:focus {
    outline: 0;
}

.input-control .error {
    font-size: 10px;
    color: #e90027;
    padding-left: 20px;
    padding-bottom: 10px;
}

/* tooltip */

.tooltip-section {
    color: #fff;
    margin-bottom: 40px;
    padding-right: 30px;
}
ul li .tooltip {
    color: rgb(99, 134, 37);
    cursor: pointer;
}

.first {
    margin-bottom: 40px;
} 


.tooltip .tooltiptext{
    color: #fff;
    margin-right: 20px;
    visibility: hidden;
    position: absolute; 
    z-index: 1;
}

.tooltip:hover .tooltiptext{
    visibility: visible;
    display: flex;
    justify-content: center;
}





